:root {
  --cards-container-height: 300px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-draw-container {
  width: 100%;
  height: var(--cards-container-height);
  overflow: auto;
  border: solid;
}

.deck {
  width: 100%;
  height: var(--cards-container-height);
  overflow: auto;
  border: solid;
}

.draw-btn {
  padding: 20px;
  margin: 20px;
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}

.card {
  padding: 10px;
  border: solid 1px #808080;
  background-color: white;
  display: inline-block;
  border-radius: 10px;
  font-size: 14pt;
  text-align: center;
  color: black;
  margin: 3px;
}

.btn {
  background: white;
  padding: 10px 20px;
  border-radius: 30px;
  margin: 10px;
  display: inline-block;
}

.card .value {
  font-size: 15pt;
  font-family: sans-serif;
}

.card .suit {
  background-image: url("card.png");
  height: 100px;
  width: 90px;
}

.card .diamonds {
  background-position-y: 100px;
}

.card .hearts {
  background-position-x: 90px;
}

.card .clubs {
  background-position-x: 90px;
  background-position-y: 100px;
}
